
.Main-chat
  .Main-chat__Group-info
    .Main-chat__Group-info__Detail
      .Main-chat__Group-info__Detail__Group-name
        = @group.name
      .Main-chat__Group-info__Detail__member-box
        .Main-chat__Group-info__Detail__member-box__member
          member :   
        = render partial: 'member-list', collection: @group.users, as: "list"
    = link_to edit_group_path(params[:group_id]), class: "Main-chat__Group-info__Edit" do
      Edit

  .Main-chat__Message-list
    = render @messages

  .Main-chat__Message-form
    = form_with model: [@group, @message], html: {class: "Main-chat__Message-form__Form"}, local: true do |form|
      .Main-chat__Message-form__Form__Textbox
        = form.text_field :content, placeholder: "type a message", class: "Main-chat__Message-form__Form__Textbox__Text"
        = form.label :image, class: "Main-chat__Message-form__Form__Textbox__Icon" do
          %i.fa.fa-image
          = form.file_field :image
      = form.submit value: "SEND", class: "Main-chat__Message-form__Form__Send", data: { "disable-with": "SEND" }