.Main-chat
  .Main-chat__Group-info
    .Main-chat__Group-info__Detail
      .Main-chat__Group-info__Detail__Group-name
        group
      .Main-chat__Group-info__Detail__member-box
        .Main-chat__Group-info__Detail__member-box__member
          member:
        .Main-chat__Group-info__Detail__member-box__list
          1,2,3,4,5,5
    = link_to "", class: "Main-chat__Group-info__Edit" do
      Edit

  .Main-chat__Message-list
    .Main-chat__Message-list__Text-box
      .Main-chat__Message-list__Text-box__Text-info
        .Main-chat__Message-list__Text-box__Text-info__User
          tarou
        .Main-chat__Message-list__Text-box__Text-info__Date
          2020
      .Main-chat__Message-list__Text-box__Comment
        aaaa
  .Main-chat__Message-form
    = form_with class: "Main-chat__Message-form__Form" do |form|
      .Main-chat__Message-form__Form__Textbox
        = form.text_field :text, placeholder: "Type a message", 
          class: "Main-chat__Message-form__Form__Textbox__Text"
        = form.label :image, class: "Main-chat__Message-form__Form__Textbox__Icon" do
          %i.fa.fa-image
          = form.file_field :image
      = form.submit value: "SEND", class: "Main-chat__Message-form__Form__Send"