.Side-bar
  .Side-bar__User-name
    .Side-bar__User-name__name-logo
      = current_user.name
    .Side-bar__User-name__Icons
      = link_to new_group_path(current_user), class: "Side-bar__User-name__Icons--block" do
        = icon('far', 'edit', class: "Side-bar__User-name__Icons--block__logo")
      = link_to edit_user_path(current_user), class: "Side-bar__User-name__Icons--block" do
        = icon('fa', 'cog', class: "Side-bar__User-name__Icons--block__logo")

  
  .Side-bar__Group-list
    - current_user.groups.each do |group|
      .Side-bar__Group-list__Text-box
        = link_to group_messages_path(group) do
          .Side-bar__Group-list__Text-box__Group-name
            = group.name
          .Side-bar__Group-list__Text-box__New-comment
            = group.show_last_message
  